.margin-contact{

    margin-top: 100px;
    margin-bottom: 100px;
}
/*.size-cover{
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
    height: 737px;
}*/

h1{
padding-top: 180px;
font-size: 72px;
}